<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsh.movie.dao.MemberMapper">
<!--
    <insert id="insertMember" statementType="PREPARED" parameterType="Members">
        insert into MEMBERS (NAME, USERID, PASSWD, ZIPCODE, ADDR, EMAIL, PHONE) value (#{name},#{userid},#{passwd},#{zipcode},#{addr},#{email},#{phone})
    </insert>

    <select id="selectLogin" statementType="PREPARED" resultType="String">
        select USERID from MEMBERS where USERID = #{userid} and PASSWD = #{passwd}
    </select>
-->
    <select id="getAllMembers" resultType="com.lsh.movie.vo.Members" >
        SELECT * FROM MEMBERS;
    </select>

</mapper>